body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* font-family: 'Great Vibes', cursive;
  font-family: 'Tangerine', cursive; */
}

/* .upArrow {
  
} */
.upArrow img {
  position: fixed;
  bottom: 20px;
  z-index: 999 !important;
  right: 10px;
  border-radius: 100% !important;
  box-shadow:0px 0px 15px #333333;
  height: 40px;
  width: 40px;
}

div.overlay {
  display: table;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
  animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px black;
  z-index: 10;
}

.header {
  height: 70px;
  align-items: center;
  display: flex;
  position: relative;
}

.hamburger-icon {
  flex: 2;
  padding: 0 24px;
}

.hamburger-icon img {
  width: 28px;
  height: 19px;
}

.brand-icon {
  display: flex;
  padding: 0 24px;
}
.brand-icon img {
  width: 72px;
  height: 60px;
}

.main-pic {
  position: relative;
  width: 100%;
}

.main-pic img {
  width: 100%;
}

.main-text {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  top: 0;
}

.container-text {
  background-color: rgba(255, 255, 255, 80%);
  border-radius: 8px;
  padding: 16px 20px;
  text-align: center;
}

.brandName {
  font-size: 28px;
  font-weight: 700;
}
.brandTitle {
  font-size: 16px;
  font-weight: 400;
}

.tangerine {
  font-family: "Tangerine", cursive;
}

.dark-brown-text {
  color: #700d0d;
}

.w400 {
  font-weight: 400;
}

.w700 {
  font-weight: 700;
}

.w900 {
  font-weight: 900;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.connect {
  display: flex;
  margin: 6px auto;
  justify-content: center;
}

.connect .social-icons img {
  width: 30px;
  height: 30px;
}
.connect .social-icons {
  flex: 11;
}

.connect .connect-text {
  line-height: 32px;
  flex: 10;
  text-align: right;
  font-weight: 400;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(49, 49, 49, 50%);
}

.services-heading {
  margin-top: 14px;
  display: flex;
  justify-content: center;
}

.heading-text-services {
  background-color: #a76c40;
  display: inline;
  color: white;
  padding: 6px 0px;
  border-radius: 8px;
  width: 60%;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background: url(./assets/images/illustrator.png) center center;
  background-size: cover;
}

.services-card {
  margin-top: 16px;
  width: 60%;
}

.services-card img {
  width: 100%;
}

.services-card .card-details {
  background-color: #e2ccbe;
  width: 80%;
  margin: -4px auto 0;
  text-align: center;
  padding: 6px;
  border: solid 1px black;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.history {
  background: rgba(223, 223, 223, 0.4);
  border-radius: 12px;
  position: relative;
  margin-top: 20px;
  padding: 20px 0;
}

.historyHeadingContainer {
  display: flex;
  justify-content: center;
}
.historyheading {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  padding: 16px 16px;
  margin-bottom: 20px;
}

.historyBackground {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.historyText {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

.historyBackground img {
  opacity: 0.2;
}

.clientReview {
  margin-top: 24px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffcebd 35.94%,
    #ff9979 61.98%,
    #ff9463 80.21%,
    #ca834d 100%
  );
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 24px 0px;
}

.clientHeading {
  display: flex;
  width: max-content;
  margin: 10px auto 16px;
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #2c2c2c;
}

.hero {
  position: relative;
  background: rgba(255, 255, 255, 0.64);
  width: 70%;
  margin: 0 auto;
  padding: 22px;
  font-size: 14px;
  text-align: justify;
  border-radius: 12px;
}

.hero:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 22%;
  margin-left: -35px;
  width: 0;
  height: 0;
  border-top: solid 10px rgba(255, 255, 255, 0.64);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.cardReview {
  margin-bottom: 22px;
}
.userDetails {
  width: 71%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
.userDetails img {
  width: 54px;
  height: 54px;
}
.username {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 12px;
  margin-left: 12px;
  padding: 5px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bold {
  font-weight: 600;
}

.contactUs {
  margin-top: 2px;
  background: linear-gradient(180deg, #b04848 0%, #a24a4a 47.92%, #7b3636 100%);
  padding: 20px;
}

.contactUsheadingContainer {
  border-radius: 6px;
  border: 1px solid #ffffff;
  width: max-content;
  padding: 8px 16px;
  margin: 10px auto;
  margin-bottom: 16px;
}
.contactUs {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.formField {
  margin-bottom: 10px;
}

.formField .labelText {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}
.formField select option {
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.formField select {
  margin-top: 4px;
}
.formField input,
.formField select,
.formField textarea {
  font-size: 16px;
  font-weight: 200;
  background: transparent;
  border-style: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  color: white;
}
.form {
  width: 90%;
  margin: 0 auto;
}

.formButton {
  border: 1px solid #ffffff;
  border-radius: 6px;
  width: max-content;
  padding: 10px 16px;
  margin-top: 20px;
}

.orText {
  width: max-content;
  margin: 30px auto;
}

.mailUs {
  width: 80%;
  text-align: center;
  margin: 0 auto 10px;
}

.mailUsText {
  margin-bottom: 6px;
}

.copyright {
  padding: 20px;
  width: 85%;
  font-weight: 600;
  margin: 0 auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .f18 {
    font-size: 24px;
  }
  .f20 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .header {
    /* 
    align-items: center;
    display: flex;
    position: relative; */
    height: 90px;
    width: 100%;
    margin: 0 auto;
  }

  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px black;
    z-index: 10;
  }

  .brand-icon {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
  }

  .brand-icon .img:first-child {
    margin-left: 40px;
  }

  .hamburger-icon {
    display: none;
  }

  .main-text {
    margin-top: 18%;
  }
  .container-text {
    background-color: white;
    opacity: 0.85;
    border-radius: 8px;
    padding: 36px 40px;
    text-align: center;
  }

  .brandName {
    font-size: 48px;
    font-weight: 700;
  }
  .brandTitle {
    font-size: 28px;
    font-weight: 400;
  }
}
